<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>-->

    <configSections>
        <section name="ConnectSDK" type="Ingenico.Connect.Sdk.CommunicatorConfigurationSection, connect-sdk-dotnet"></section>
    </configSections>
  
    <ConnectSDK connectTimeout="5000" socketTimeout="30000" maxConnections="10" authorizationType="v1HMAC" integrator="digilynx">
        <!--<apiEndpoint host="api.domain.com" scheme="https"></apiEndpoint>-->
        <apiEndpoint host="eu.sandbox.api-ingenico.com" scheme="https"></apiEndpoint>
    </ConnectSDK>
</configuration>